
# Python
## Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

## Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

## PyInstaller
*.manifest
*.spec

## Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook
.ipynb_checkpoints

## IPython
profile_default/
ipython_config.py

## Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# R
## History files
.Rhistory
.Rapp.history

## Session Data Files
.RData
.RDataTmp
    
## User-specific files
.Ruserdata
    
## RStudio Files
.Rproj.user/

## Produced vignettes
vignettes/*.html
vignettes/*.pdf
    
## knitr and R markdown default cache directories
*_cache/
/cache/
    
## Temporary files created by R markdown
*utf8.md
*knitr.md
    
## R Environment Variables
.Renviron

# Open Access Data Files
Original_Remote_Sensing_Downloads/EPA_L3_Ecoregions
Original_Remote_Sensing_Downloads/GEDI
Original_Remote_Sensing_Downloads/Landsat_NLCD
Original_Remote_Sensing_Downloads/MODIS_VIIRS
Original_Remote_Sensing_Downloads/MTBS
Original_Remote_Sensing_Downloads/State_Boundaries_WGS84
Original_Remote_Sensing_Downloads/USDA_FIA

# Cropped and Reprojected Remote Sensing Files (derived from open access files)
Cropped_Projected_Remote_Sensing/Census_State-Boundaries_ML_NAD83
Cropped_Projected_Remote_Sensing/Ecoregions_L3_ML_NAD83
Cropped_Projected_Remote_Sensing/GEDI
Cropped_Projected_Remote_Sensing/Landsat_NLCD
Cropped_Projected_Remote_Sensing/MODIS_VIIRS
Cropped_Projected_Remote_Sensing/MTBS
Cropped_Projected_Remote_Sensing/USDA_FIA